<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.po.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upwd" property="upwd" jdbcType="VARCHAR" />
    <result column="renqi" property="renqi" jdbcType="INTEGER" />
    <result column="jifen" property="jifen" jdbcType="INTEGER" />
    <result column="fens" property="fens" jdbcType="INTEGER" />
    <result column="fouc" property="fouc" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="shengfen" property="shengfen" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uname, upwd, renqi, jifen, fens, fouc, logo, address, shengfen, email, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.po.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.po.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.po.User" >
    insert into user (id, uname, upwd, 
      renqi, jifen, fens, 
      fouc, logo, address, 
      shengfen, email, time
      )
    values (#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{upwd,jdbcType=VARCHAR}, 
      #{renqi,jdbcType=INTEGER}, #{jifen,jdbcType=INTEGER}, #{fens,jdbcType=INTEGER}, 
      #{fouc,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{shengfen,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.po.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upwd != null" >
        upwd,
      </if>
      <if test="renqi != null" >
        renqi,
      </if>
      <if test="jifen != null" >
        jifen,
      </if>
      <if test="fens != null" >
        fens,
      </if>
      <if test="fouc != null" >
        fouc,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="shengfen != null" >
        shengfen,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="renqi != null" >
        #{renqi,jdbcType=INTEGER},
      </if>
      <if test="jifen != null" >
        #{jifen,jdbcType=INTEGER},
      </if>
      <if test="fens != null" >
        #{fens,jdbcType=INTEGER},
      </if>
      <if test="fouc != null" >
        #{fouc,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="shengfen != null" >
        #{shengfen,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.po.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uname != null" >
        uname = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.upwd != null" >
        upwd = #{record.upwd,jdbcType=VARCHAR},
      </if>
      <if test="record.renqi != null" >
        renqi = #{record.renqi,jdbcType=INTEGER},
      </if>
      <if test="record.jifen != null" >
        jifen = #{record.jifen,jdbcType=INTEGER},
      </if>
      <if test="record.fens != null" >
        fens = #{record.fens,jdbcType=INTEGER},
      </if>
      <if test="record.fouc != null" >
        fouc = #{record.fouc,jdbcType=INTEGER},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.shengfen != null" >
        shengfen = #{record.shengfen,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=INTEGER},
      uname = #{record.uname,jdbcType=VARCHAR},
      upwd = #{record.upwd,jdbcType=VARCHAR},
      renqi = #{record.renqi,jdbcType=INTEGER},
      jifen = #{record.jifen,jdbcType=INTEGER},
      fens = #{record.fens,jdbcType=INTEGER},
      fouc = #{record.fouc,jdbcType=INTEGER},
      logo = #{record.logo,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      shengfen = #{record.shengfen,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.po.User" >
    update user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        upwd = #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="renqi != null" >
        renqi = #{renqi,jdbcType=INTEGER},
      </if>
      <if test="jifen != null" >
        jifen = #{jifen,jdbcType=INTEGER},
      </if>
      <if test="fens != null" >
        fens = #{fens,jdbcType=INTEGER},
      </if>
      <if test="fouc != null" >
        fouc = #{fouc,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="shengfen != null" >
        shengfen = #{shengfen,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.po.User" >
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR},
      renqi = #{renqi,jdbcType=INTEGER},
      jifen = #{jifen,jdbcType=INTEGER},
      fens = #{fens,jdbcType=INTEGER},
      fouc = #{fouc,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      shengfen = #{shengfen,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="loginByUser" parameterType="com.neusoft.po.User"
		resultMap="BaseResultMap">
		select * FROM user where
		 uname = #{uname,jdbcType=VARCHAR}and
		 upwd = #{upwd,jdbcType=VARCHAR}
	</select>
</mapper>